CICTED/.vs/CICTED/v14/.suo
CICTED/src/CICTED.Domain/bin/
CICTED/src/CICTED.Domain/obj/
CICTED/src/CICTED.Crosscutting/bin/
CICTED/src/CICTED.Crosscutting/obj/
CICTED/src/CICTED/bin/
CICTED/src/CICTED/obj/
bin/
obj/
CICTED/.vs/CICTED/v15/sqlite3/storage.ide