@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Menu";
}

<div class="autor-home-content">
    <h3 style="font-weight: bold">Meus Trabalhos</h3>
    <hr />
    <table class="tabela-trabalho" border="1">
        <tr>
            <th style="width: 56px;">Status</th>
            <th style="width: 180px;">Identificação</th>
            <th>Titulo</th>
            <th style="width: 130px">Data Cadastro</th>
            <th style="width: 56px;"></th>
        </tr>

        <tr>
            <td><span class="fa fa-search"></span></td>
            <td>ENIC201720307</td>
            <td>A A A A A A A A A</td>
            <td>24/04/2017</td>
            <td><span class="fa fa-search"></span></td>
        </tr>
    </table>
    <hr />

    <h5>
        Legenda:
        <span class="fa fa-clock-o margin-left-30 color-submissao"></span> Aguardando Submissão
        <span class="fa fa-exclamation-circle margin-left-30 color-avaliacao"></span> Aguardando Avaliação
        <span class="fa fa-check-circle margin-left-30 color-aprovado"></span> Aprovado
        <span class="fa fa-times-circle margin-left-30 color-reprovado"></span> Reprovado
        
        


    </h5>


</div>