@model List<CICTED.Domain.ViewModels.Trabalho.ConsultaTrabalho>

@{
    Layout = "_Menu";
}

<title>Trabalhos - CICTED</title>

<div class="autor-home-content">
    <h3 style="font-weight: bold"><span class="fa fa-book"></span> Consultar Trabalhos</h3>
    <table class="tabela-trabalho" border="1">
        <tr>
            <th style="width: 50px;"></th>
            <th style="width: 80px;">Identificação</th>
            <th style="width: 70px">Evento</th>
            <th style="width: 120px;">Area</th>
            <th style="width: 180px;">Subarea</th>
            <th style="width: 110px;">Status</th>
        </tr>

        <tr>
        
        </tr>
    </table>
    <h5>
        Legenda:
        <span class="fa fa-clock-o margin-left-10 color-submissao"></span> Aguardando Submissão
        <span class="fa fa-exclamation-circle margin-left-10 color-avaliacao"></span> Aguardando Avaliação
        <span class="fa fa-check-circle margin-left-10 color-aprovado"></span> Aprovado
        <span class="fa fa-times-circle margin-left-10 color-reprovado"></span> Reprovado
    </h5>
</div>
