@model List<CICTED.Domain.ViewModels.Trabalho.ConsultaTrabalho>

@{
    Layout = "_Menu";
}

<title>Meus Trabalhos - CICTED</title>
 
<div class="autor-home-content">
    <h3 style="font-weight: bold">Meus Trabalhos</h3>
    <hr />
    <table class="tabela-trabalho" border="1">
        <tr>
            <th style="width: 56px;">Status</th>
            <th style="width: 180px;">Identificação</th>
            <th>Titulo</th>
            <th style="width: 130px">Data Cadastro</th>
            <th style="width: 56px;"></th>
        </tr>

        @foreach (var trabalho in Model)
        {
            <tr>
                <td>
                    @if (trabalho.StatusTrabalhoId == 1)
                    {
                        <span style="font-size:18px" class="fa fa-check-circle color-aprovado"></span>
                    }
                    @if (trabalho.StatusTrabalhoId == 2)
                    {
                        <span style="font-size:18px" class="fa fa-times-circle color-reprovado"></span>
                    }
                    @if (trabalho.StatusTrabalhoId == 3)
                    {
                        <span style="font-size:18px" class="fa fa-clock-o color-submissao"></span>
                    }
                    @if (trabalho.StatusTrabalhoId == 4)
                    {
                        <span style="font-size:18px" class="fa fa-exclamation-circle color-avaliacao"></span>
                    }
                </td>

                <td>@trabalho.Identificacao</td>
                <td>@trabalho.Titulo</td>
                <td>@trabalho.DataCadastro.ToString("dd-MM-yyyy")</td>
                <td><a class="fa fa-search link trabalho" data-toggle="modal" data-target="#myModal" data-id="@trabalho.Id"></a></td>
            </tr>
        }

    </table>
    <hr />

    <h5>
        Legenda:
        <span class="fa fa-clock-o margin-left-30 color-submissao"></span> Aguardando Submissão
        <span class="fa fa-exclamation-circle margin-left-30 color-avaliacao"></span> Aguardando Avaliação
        <span class="fa fa-check-circle margin-left-30 color-aprovado"></span> Aprovado
        <span class="fa fa-times-circle margin-left-30 color-reprovado"></span> Reprovado
    </h5>



    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="font-weight:bold">Informações sobre o trabalho</h4>
                    <hr />
                    <h4>Dados:</h4>
                    <table>
                        <tr><td><b class="margin-right-30">Identificação: </b></td><td id="identificacao"></td></tr>
                        <tr><td><b>Área: </b></td><td id="area"></td></tr>
                        <tr><td><b>Subárea: </b></td><td id="subarea"></td></tr>
                        <tr><td><b>Evento: </b></td><td id="evento"></td></tr>
                        <tr><td><b>Status: </b></td><td id="status"></td></tr>
                        <tr><td><b>Data Cadastro: </b></td><td id="data-cadastro"></td></tr>
                        <tr><td><b>Data Submissão: </b></td><td id="data-submissao"></td></tr>
                    </table>
                    <hr />
                    <h4>Autores:</h4>
                    <table>
                        <tr><td><b class="margin-right-30">Autor Principal: </b></td><td id="autor-principal"></td></tr>
                        <tr id="outros-autores"></tr>
                        <tr><td><b>Orientador: </b></td><td id="orientador"></td></tr>
                    </table>
                    <hr />
                    <h4>Trabalho:</h4>
                    <h5 style="text-align:center" id="titulo"></h5>
                    <h5><b>Introdução:</b></h5>
                    <h5 id="introducao"></h5>
                    <h5><b>Metodologia:</b></h5>
                    <h5 id="metodologia"></h5>
                    <h5><b>Resultados:</b></h5>
                    <h5 id="introducao"></h5>
                    <h5><b>Conclusão:</b></h5>
                    <h5 id="metodologia"></h5>
                    <h5 id="introducao"><b>Referências Bibliográficas: </b></h5>
                    <h5><b>Palavras-chaves: </b></h5>
                    <h5 id="palavras-chave"> </h5>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cadastrar Trabalho</button>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">

    $(".trabalho").on("click", function () {
        var trabalho = $(this);
        var id = trabalho.attr("data-id");

        $.ajax({
            url: '/trabalho/informacao',
            type: 'get',
            data: {
                id: id
            },

            success: function (data) {
                $('#identificacao').text(data.identificacao);
                $('#area').text(data.area);
                $('#subarea').text(data.subarea);
                $('#evento').text(data.evento);
                $('#status').text(data.status);
                $('#data-cadastro').text(data.dataCadastro);
                $('#data-submissao').text(data.subarea);
                $('#titulo').html("<b>"+data.titulo+"</b>");
                $('#introducao').text(data.introducao);
                $('#metodologia').text(data.metodologia);
                $('#resultado').text(data.resultado);
                $('#referencia').text(data.referencia);
                $('#palavras-chave').text(data.palavrasChave);
                if (data.autores != null) {
                    $('#"outros-autores').html('<td><b>Autores: </b></td><td>' + data.autores + '</td>');

                }
            },

            error: function (x, y, message) {
                alert("Trabalho nao encontrado ")
            },
        });
    });

</script>