@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Menu";
}

<div class="autor-home-content">
    <h3 style="font-weight: bold">Meus Trabalhos</h3>
    <hr />
    <table class="tabela-trabalho" border="1">
        <tr>
            <th style="width: 56px;">Status</th>
            <th style="width: 180px;">Identificação</th>
            <th>Titulo</th>
            <th style="width: 130px">Data Cadastro</th>
            <th style="width: 56px;"></th>
        </tr>

        <tr>
            <td><span class="fa fa-search"></span></td>
            <td>ENIC201720307</td>
            <td>A A A A A A A A A</td>
            <td>24/04/2017</td>
            <td><a class="fa fa-search link trabalho" data-toggle="modal" data-target="#myModal" data-id="@*modal.trabalhoId*@"></a></td>
        </tr>
    </table>
    <hr />

    <h5>
        Legenda:
        <span class="fa fa-clock-o margin-left-30 color-submissao"></span> Aguardando Submissão
        <span class="fa fa-exclamation-circle margin-left-30 color-avaliacao"></span> Aguardando Avaliação
        <span class="fa fa-check-circle margin-left-30 color-aprovado"></span> Aprovado
        <span class="fa fa-times-circle margin-left-30 color-reprovado"></span> Reprovado
    </h5>



    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="font-weight:bold">Informações sobre o trabalho</h4>
                    <hr />
                    <h4>Dados:</h4>
                    <table>
                        <tr><td><b class="margin-left-30">Identificação: </b></td><td id="identificacao"></td></tr>
                        <tr><td><b>Área: </b></td><td id="area"></td></tr>
                        <tr><td><b>Subárea: </b></td><td id="subarea"></td></tr>
                        <tr><td><b>Evento: </b></td><td id="evento"></td></tr>
                        <tr><td><b>Status: </b></td><td id="status"></td></tr>
                        <tr><td><b>Data Cadastro: </b></td><td id="data-cadastro"></td></tr>
                        <tr><td><b>Data Submissão: </b></td><td id="data-submissao"></td></tr>
                        @*<h5 id="identificacao">Identificação: </h5>

                        <h5 id="area">Área: </h5>
                        <h5 id="subarea">Subárea: </h5>
                        <h5 id="evento">Evento: </h5>
                        <h5 id="status">Status: </h5>
                        <h5 id="">Data Cadastro: </h5>
                        <h5 id="data-">Data : </h5>*@
                        

                    </table>
                    <h4>Autores:</h4>
                    <h5 id="autor-principal">Autor Principal: </h5>
                    <h5 id="autor-outro"> </h5>
                    <h5 id="orientador">Orientador: </h5>
                    <hr />
                    <h4>Trabalho:</h4>
                    <h5 style="text-align:center" id="titulo">TITULO</h5>
                    <h5>Introdução:</h5>
                    <h5 id="introducao"></h5>
                    <h5>Metodologia:</h5>
                    <h5 id="metodologia"></h5>
                    <h5>Resultados:</h5>
                    <h5 id="introducao"></h5>
                    <h5>Conclusão:</h5>
                    <h5 id="metodologia"></h5>
                    <h5 id="introducao">Referências Bibliográficas: </h5>
                    <h5 id="metodologia">Palavras-chaves: </h5>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cadastrar Trabalho</button>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">

    $(".trabalho").on("click", function () {
        var trabalho = $(this);
        var id = trabalho.attr("data-id");

        $.ajax({
            url: '/trabalho/informacao',
            type: 'get',
            //data: {
            //    id: id
            //},

            success: function (data) {
                $('#identificacao').text(data.identificacao);
                $('#area').html('<b>Área: </b> ' + data.identificacao);
                $('#subarea').html('<b>Subárea: </b> ' + data.identificacao);
                //$('#evento-descricao').text(data.descricao);
                //$('#evento-objetivo').html('<b>Objetivo: </b> ' + data.objetivo);
                //$('#evento-publico-alvo').html('<b>Público-Alvo: </b>' + data.publicoAlvo);
            },

            error: function (x, y, message) {
                alert("Evento nao encontrado ")
            },
        });
    });

</script>