

@{
    Layout = "_Menu";
}
<div class="form-group dashboard">
    <h2 style="text-align:center"><b>Trabalhos</b></h2>
    <div class="form-group row margin-top-20" style="text-align:center">
        <div class="margin-left-30 float-left margin-top-10">
            <h4><b>Eventos: </b></h4>
        </div>

        <div class="float-left margin-left-20 margin-top-20">
            <a class="dashboard-linkClicked">TODOS</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link">ENIC</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link">ENIC JR</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link">ENIC TEEN</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link">ENIC KIDS</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link">MIPG</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link">SEDUNI</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link">SEMEX</a>
        </div>

        <div class="float-left margin-top-20">
            <a class="dashboard-link">PP&I</a>
        </div>
    </div>
    <div class="form-group margin-top-75 margin-left-40">
        <div class="form-group float-left">
            <span class="fa fa-file-text fa-5x margin-left-30"></span>
            <h3>Cadastrados</h3>
        </div>

        <div class="form-gorup float-left margin-left-30">
            <span class="fa fa-play-circle fa-5x margin-left-30 "></span>
            <h3>Submetidos</h3>
        </div>

        <div class="form-gorup float-left margin-left-30">
            <span class="fa fa-fw fa-clipboard fa-5x"></span>
            <h3>Avaliados</h3>
        </div>

        <div class="form-gorup float-left margin-left-30">
            <span class="fa fa-smile-o fa-5x margin-left-20"></span>
            <h3>Aprovados</h3>
        </div>
        <div class="form-gorup float-left margin-left-30">
            <span class="fa fa-frown-o fa-5x margin-left-20"></span>
            <h3>Reprovados</h3>
        </div>
    </div>
</div>
