

@{
    Layout = "_Menu";
}
<div class="form-group dashboard">
    <h2 style="text-align:center"><b>Trabalhos</b></h2>

    <div class="margin-left-30 float-left margin-top-10">
        <h4><b>Eventos: </b></h4>
    </div>

    <div class="float-left margin-left-20 margin-top-20">
        <a>Todas</a>
    </div>

    <div class="float-left margin-left-10 margin-top-20">
        <a>ENIC</a>
    </div>

    <div class="float-left margin-left-10 margin-top-20">
        <a>ENIC JR</a>
    </div>

    <div class="float-left margin-left-10 margin-top-20">
        <a>ENIC TEEN</a>
    </div>

    <div class="float-left margin-left-10 margin-top-20">
        <a>ENIC KIDS</a>
    </div>

    <div class="float-left margin-left-10 margin-top-20">
        <a>MIPG</a>
    </div>

    <div class="float-left margin-left-10 margin-top-20">
        <a>SEDUNI</a>
    </div>

    <div class="float-left margin-left-10 margin-top-20">
        <a>SEMEX</a>
    </div>

    <div class="float-left margin-left-10 margin-top-20">
        <a>PP&I</a>
    </div>

    <div class="form-group">
        <span class="fa-file-text"></span>
    </div>
</div>