<!DOCTYPE html>
<html>
<head>

    <environment>
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
    </environment>

</head>
<body>
    <div class="navbar">
        <img class="margin-right-100 float-right" src="~/images/logoUNITAU/logotipo_branco_unitau.png"  />
    </div>
    <div >
        @RenderBody()        
    </div>
    
    <div class="footer">
        
        <i style="font-size:35px" class="fa fa-envelope margin-left-100 float-left"></i>
        <h5 class="margin-left-10 float-left ">cicted@unitau.br</h5>
        
        <img style="height: 40px; width: 250px" class="margin-right-100 float-right" src="~/images/rodapé/apoio.png"/>
        <h4 class="float-right margin-right-20">APOIO:</h4>    
    </div>
</body>
</html>