<!DOCTYPE html>
<html>
<head>

    <environment>
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
</head>
<body>
    <div class="navbar"></div>
    <div >
        @RenderBody()        
    </div>
</body>
</html>