<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

</head>
<body>
    <div class="navbar">
        <img class="margin-right-100 float-right" src="~/images/logoUNITAU/logotipo_branco_unitau.png" />
    </div>
    <div class="admin-content">
        @RenderBody()
    </div>

    <div class="footer">

        <span style="font-size:35px" class="fa fa-envelope margin-left-100 float-left"></span>
        <h5 class="margin-left-10 float-left ">cicted@unitau.br</h5>
        <div class="barra float-left"></div>

        <a style="font-size: 35px;" class="link fa fa-calendar float-left">
            <h5 class="margin-left-10 float-right">Calendário</h5>
        </a>
        <div class="barra float-left"></div>
        
        <img style="height: 40px; width: 250px" class="margin-right-100 float-right" src="~/images/rodapé/apoio.png" />
        <h4 class="float-right margin-right-20">APOIO:</h4>
        <div class="barra float-right"></div>
    </div>

    
    @RenderSection("scripts", required: false)
</body>
</html>