
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/CICTED.min.js" asp-append-version="true"></script>
    </environment>
    <script src="~/js/CICTED.js"></script>

</head>
<body>
    <div class="navbar" style="position:relative">
        <img class="margin-right-100 float-right" src="~/images/logoUNITAU/logotipo_branco_unitau.png" />
    </div>
    <div class="menu">
        <ul>
            <li><a><span class="fa fa-home"></span> Inicio</a></li>

            <li><a>Dashboard</a></li>

            <li>
                <a><span class="fa fa-file-text-o"></span> Consultar</a>
                <ul style="margin-left:-68px!important;">
                    <li><a><span class="fa fa-file-text-o"></span> Trabalhos</a></li>
                    <li><a><span class="fa fa-pencil"></span> Atividades</a></li>
                    <li><a><span class="fa fa-users"></span> Usuários</a></li>
                </ul>
            </li>

            <li><a><span class="fa fa-calendar-o"></span> Apresentações</a></li>


            <li class="float-right margin-right-100">
                <a><span class="fa fa-refresh"></span> Trocar Papel</a>
                @if (Model.Roles != null)
                {
                    <ul style="margin-left:-55px!important; width:150px!important">
                        @foreach (var role in Model.Roles)
                        {
                            @if (role == 1)
                            {
                                <li><a>Administrador</a></li>
                            }
                            @if (role == 2)
                            {
                                <li><a asp-controller="organizador" asp-action="home">Organizador</a></li>
                            }
                            @if (role == 3)
                            {
                                <li><a>Avaliador</a></li>
                            }
                            @if (role == 4)
                            {
                                <li><a asp-controller="autor" asp-action="home">Autor</a></li>
                            }
                        }
                    </ul>
                }

            </li>

            <li class="float-right margin-left-30"><a><span class="fa fa-address-card-o"></span> Meus Dados</a></li>

            <li class="float-right"><a><span class="fa fa-exclamation-triangle"></span> Solicitações</a></li>
        </ul>
    </div>
    <div class="admin-content">
        @RenderBody()
    </div>

    <div class="footer">

        <span style="font-size:35px" class="fa fa-envelope margin-left-100 float-left"></span>
        <h5 class="margin-left-10 float-left ">cicted@unitau.br</h5>
        <div class="barra float-left"></div>

        <a style="font-size: 35px;" class="link fa fa-calendar float-left">
            <h5 class="margin-left-10 float-right">Calendário</h5>
        </a>
        <div class="barra float-left"></div>

        <img style="height: 40px; width: 250px" class="margin-right-100 float-right" src="~/images/rodapé/apoio.png" />
        <h4 class="float-right margin-right-20">APOIO:</h4>
        <div class="barra float-right"></div>
    </div>



    @RenderSection("scripts", required: false)

</body>
</html>
