@{
    Layout = "_Home";
}
<title>V CICTED</title>

<div class="margin-top-100">
    <div class="saibaMais" style="background: #5056A3;">
        <img class="margin-top-20" src="~/images/logoUNITAU/logotipo_branco_unitau.png" />
        <hr />
        <h5>
            Neste espaço você terá acesso a todas as informações do evento V CICTED: Ciência Alimentando o Brasil. Aqui
            você poderá consultar os eventos, cadastrar e visualizar todos os seus trabalhos e atividades sem complicações a qualquer hora.
        </h5>
        <div>
            <button class="button-saibaMais">Saiba mais</button>
            <button class="button-saibaMais margin-left-20"><a class="button-a" asp-controller="account" asp-action="login">Inscreva seu trabalho</a></button>
        </div>
    </div>

    <div class="saibaMais" style="background: #457A43;">
        <img class="margin-top-20" src="~/images/logoUNITAU/logotipo_branco_unitau.png" />
        <hr />
        <h5>
            A pesquisa pode ser tão divertida quanto uma cantiga. Não fique de fora dessa experiência! Incentive seus alunos e pesquisem juntos!
        </h5>
        <div>
            <button class="button-saibaMais">Saiba mais</button>
            <button class="button-saibaMais margin-left-20"><a class="button-a" asp-controller="account" asp-action="login">Inscreva seu trabalho</a></button>
        </div>
    </div>

    <div class="saibaMais" style="background: #457A43;">
        <img class="margin-top-20" src="~/images/logoUNITAU/logotipo_branco_unitau.png" />
        <hr />
        <h5>
            Por que o céu é azul? Por que os dentes caem? Por que a Terra roda? Por que os rios secam? Vamos pesquisar e conhecer as respostas? Então, entre nessa!
        </h5>
        <div>
            <button class="button-saibaMais">Saiba mais</button>
            <button class="button-saibaMais margin-left-20"><a class="button-a" asp-controller="account" asp-action="login">Inscreva seu trabalho</a></button>
        </div>
    </div>

    <div class="saibaMais" style="background: #79671D;">
        <img class="margin-top-20" src="~/images/logoUNITAU/logotipo_branco_unitau.png" />
        <hr />
        <h5>
            A energia vem da realização de alguma ação. A sua pesquisa pode ser a mudança que falta na sociedade!
        </h5>
        <div>
            <button class="button-saibaMais">Saiba mais</button>
            <button class="button-saibaMais margin-left-20"><a class="button-a" asp-controller="account" asp-action="login">Inscreva seu trabalho</a></button>
        </div>
    </div>

    <div class="saibaMais" style="background: #235363;">
        <img class="margin-top-20" src="~/images/logoUNITAU/logotipo_branco_unitau.png" />
        <hr />
        <h5>
            A ciência está em todos os momentos do nosso dia a dia e nós nem percebemos. Compartilhe suas pesquisas com a gente!
        </h5>
        <div>
            <button class="button-saibaMais">Saiba mais</button>
            <button class="button-saibaMais margin-left-20"><a class="button-a" asp-controller="account" asp-action="login">Inscreva seu trabalho</a></button>
        </div>
    </div>

    <div class="saibaMais" style="background: #6F2929">
        <img class="margin-top-20" src="~/images/logoUNITAU/logotipo_branco_unitau.png" />
        <hr />
        <h5>
            Uma importante oportunidade de troca, partilha, ensino e aprendizado de novas estratégias didático-pedagógicas,considerando os diferentes momentos e estágios desses saberes dos professores.
        </h5>
        <div>
            <button class="button-saibaMais" >Saiba mais</button>
            <button class="button-saibaMais margin-left-20"><a class="button-a" asp-controller="account" asp-action="login">Inscreva seu trabalho</a></button>
        </div>
    </div>

    <div class="saibaMais" style="background: #251A10;">
        <img class="margin-top-20" src="~/images/logoUNITAU/logotipo_branco_unitau.png" />
        <hr />
        <h5>
            Pesquise e inove! Demonstre todo o seu conhecimento e capacidade nesse novo desafio.
        </h5>
        <div>
            <button class="button-saibaMais">Saiba mais</button>
            <button class="button-saibaMais margin-left-20"><a class="button-a" asp-controller="account" asp-action="login">Inscreva seu trabalho</a></button>
        </div>
    </div>
</div>