@{
    Layout = "_Eventos";
}
<title>MIPG - CICTED</title>

<div class="saibaMais" style="background: #79671D; margin-top: 40px">
    <div class="float-left" style="margin-top:130px; margin-left:150px">
        <img src="~/images/evento/sm_mipg.png" style="height:100px" />
    </div>
</div>

<div class="form-group" style="margin-top: 50px">
    <div class="float-left" style="margin-left: 340px">
        <img src="~/images/evento/mipg-sm.png" />
    </div>
    <div class="float-right" style="margin-right: 340px">
        <h5><b>Ligue seu fogão e venha para o Masterchef</b></h5>
        <h5><b>da ciência. Inscreva seu trabalho!</b></h5>
        <button class="button-eventos" style="margin-top: 5px"><a class="button-e" asp-controller="account" asp-action="login">Inscreva aqui o seu trabalho até o dia 23/08/2017</a></button>
    </div>
</div>

<div class="saibaMais-itens" style="background: #79671D; margin-top: 50px; height: 650px !important">

    <div class="float-right" style="margin-right: 30%; margin-top: 10px">
        <h1>ITENS A SEREM PREENCHIDOS:</h1>
    </div>

    <div class="float-right" style="margin-right: 45%; margin-top: -10px">
        <div class="float-left">
            <h2>1 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Área e Subárea do Conhecimento;</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 28.7%; margin-top: -25px">
        <div class="float-left">
            <h2>2 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Até 7 autores ( 1 orientador, 1 autor principal e 5 coautores);</h4>
        </div>
    </div>
    
    <div class="float-right" style="margin-right: 52%; margin-top: -25px">
        <div class="float-left">
            <h2>3 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Título ( 5 -20 palavras);</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 47%; margin-top: -25px">
        <div class="float-left">
            <h2>4 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Introdução (20 – 150 palavras);</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 46%; margin-top: -25px">
        <div class="float-left">
            <h2>5 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Metodologia (50 – 300 palavras);</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 47%; margin-top: -25px">
        <div class="float-left">
            <h2>6 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Resultados (20 – 150 palavras);</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 32.2%; margin-top: -25px">
        <div class="float-left">
            <h2>7 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Figuras (até 2 imagens no modo paisagem) [opcional];</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 48%; margin-top: -25px">
        <div class="float-left">
            <h2>8 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Conclusão (20-100 palavras);</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 38.5%; margin-top: -25px">
        <div class="float-left">
            <h2>9 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Referências Bibliográficas (20-100 palavras);</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 52%; margin-top: -25px">
        <div class="float-left">
            <h2>10 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Palavras-chave (3-6).</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 34%; margin-top: -25px">
        <div class="float-left">
            <h2>11 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Artigo Completo (arquivo pdf de 10 – 20 páginas).</h4>
        </div>
    </div>

    <div class="float-right" style="margin-top: 15px; margin-right: 30%; text-align: center">
        <h4>A tv Unitau criou uma série de vídeos para te ajudar a criar e formatar</h4>
        <h4>seu artigo científico, <a class="button-a" href="https://goo.gl/5uhUxp">clique aqui</a> para acessá-los.</h4>
    </div>

</div>

<div class="saibaMais" style="background: #1E386A;">
    <h1 class="margin-left-75 margin-top-40">BAIXE OS ARQUIVOS:</h1>
    <h4 class="margin-left-75 margin-right-20 margin-top-20">NÃO SE ESQUEÇA DE COLOCAR O CABEÇALHO E O RODAPÉ EM SEU TRABALHO. SIGA  EXATAMENTE O MODELO DE RESUMO PARA QUE SEU TRABALHO SEJA  APROVADO COM SUCESSO!</h4>
    <div style="margin-top: -10px; margin-left: 16%">
        <button class="button-saibaMais"><a class="button-a" href="~/arquivos/TemplateMIPG_CICTED2017.doc" target="_blank">MODELO DE ARTIGO</a></button>
        <button class="button-saibaMais margin-left-20"><a class="button-a" href="~/arquivos/modelo_de_resumo-cicted-2017.doc" target="_blank">MODELO DE RESUMO</a></button>
        <button class="button-saibaMais margin-left-20"><a class="button-a" href="http://www.cicted.com.br/assets/cabe%C3%A7alho_mipg.png" target="_blank">CABEÇALHO</a></button>
        <button class="button-saibaMais margin-left-20"><a class="button-a" href="http://www.cicted.com.br/assets/rodape_cicted_geral.png" target="_blank">RODAPÉ</a></button>
        <button class="button-saibaMais margin-left-20"><a class="button-a" href="~/arquivos/modelo_de_painel---cicted.doc" target="_blank">MODELO PAINEL</a></button>
    </div>
</div>