@{
    Layout = "_Eventos";
}
<title>PP&I - CICTED</title>

<div class="saibaMais" style="background: #241A10; margin-top: 60px">

</div>

<div class="form-group" style="margin-top: 50px">
    <div class="float-left" style="margin-left: 440px">
        <img class="margin-top-75" src="~/images/logoUNITAU/logotipo_branco_unitau.png" />
    </div>
    <div class="float-right" style="margin-right: 340px">
        <h5><b>Os projetos de pesquisa devem conter uma breve</b></h5>
        <h5><b>revisão literária incluindo referências bibliográficas,</b></h5>
        <h5><b>uma hipótese relacionada ao objetivo da pesquisa,</b></h5>
        <h5><b>uma descrição detalhada da metodologia a ser</b></h5>
        <h5><b>utilizada incluindo o tratamento estatístico </b></h5>
        <h5><b>dos dados coletados e os resultados esperados</b></h5>
        <h5><b>pelo desenvolvimento do projeto.</b></h5>
        <button class="button-eventos" style="margin-top: 5px"><a class="button-e" asp-controller="account" asp-action="login">Inscreva aqui o seu trabalho até o dia 23/08/2017</a></button>
    </div>
</div>

<div class="saibaMais-itens" style="background: #241A10; margin-top: 50px; height: 530px !important">

    <div class="float-right" style="margin-right: 30%; margin-top: 10px">
        <h1>ITENS A SEREM PREENCHIDOS:</h1>
    </div>

    <div class="float-right" style="margin-right: 45%; margin-top: -10px">
        <div class="float-left">
            <h2>1 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Área e Subárea do Conhecimento;</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 28.7%; margin-top: -25px">
        <div class="float-left">
            <h2>2 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Até 7 autores ( 1 orientador, 1 autor principal e 5 coautores);</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 52%; margin-top: -25px">
        <div class="float-left">
            <h2>3 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Título ( 5 -20 palavras);</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 49.5%; margin-top: -25px">
        <div class="float-left">
            <h2>4 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Resumo (20 – 50 palavras);</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 47%; margin-top: -25px">
        <div class="float-left">
            <h2>5 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Introdução (20 – 150 palavras);</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 22.2%; margin-top: -25px">
        <div class="float-left">
            <h2>6 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Metodologia ou estratégia de execução/realização: (50 – 300 palavras);</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 38.7%; margin-top: -25px">
        <div class="float-left">
            <h2>7 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Resultados e Discussões (20 – 150 palavras);</h4>
        </div>
    </div>

    <div class="float-right" style="margin-right: 32.2%; margin-top: -25px">
        <div class="float-left">
            <h2>8 - </h2>
        </div>
        <div class="float-right" style="margin-right: -5px; margin-left: 10px; margin-top: 20px">
            <h4>Figuras (até 2 imagens no modo paisagem) [opcional];</h4>
        </div>
    </div>

    <div class="float-right" style="margin-top: 15px; margin-right: 30%; text-align: center">
        <h4>A tv Unitau criou uma série de vídeos para te ajudar a criar e formatar</h4>
        <h4>seu artigo científico, <a class="button-a" href="https://goo.gl/5uhUxp">clique aqui</a> para acessá-los.</h4>
    </div>

</div>

<div class="saibaMais" style="background: #1E386A;">
    <h1 class="margin-left-75 margin-top-40">BAIXE OS ARQUIVOS:</h1>
    <h4 class="margin-left-75 margin-right-20 margin-top-20">NÃO SE ESQUEÇA DE COLOCAR O CABEÇALHO E O RODAPÉ EM SEU TRABALHO. SIGA  EXATAMENTE O MODELO DE RESUMO PARA QUE SEU TRABALHO SEJA  APROVADO COM SUCESSO!</h4>
    <div style="margin-top: -10px; margin-left: 25%">
        <button class="button-saibaMais"><a class="button-a" href="~/arquivos/modelo_de_resumo-pp&i-cicted-2017.doc" target="_blank">MODELO DE RESUMO</a></button>
        <button class="button-saibaMais margin-left-20"><a class="button-a" href="http://www.cicted.com.br/assets/cabe%c3%a7alho_ippi.png" target="_blank">CABEÇALHO</a></button>
        <button class="button-saibaMais margin-left-20"><a class="button-a" href="http://www.cicted.com.br/assets/rodape_cicted_geral.png" target="_blank">RODAPÉ</a></button>
        <button class="button-saibaMais margin-left-20"><a class="button-a" href="~/arquivos/modelo_de_painel---cicted.doc" target="_blank">MODELO PAINEL</a></button>
    </div>
</div>