@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />

    <title>Confirmação - CICTED</title>
    </head>
<body>
    <div class="navbar">
        <img class="margin-right-100 float-right" src="~/images/logoUNITAU/logotipo_branco_unitau.png" />
    </div>   
    <div class="margin-left-100 margin-top-40">
        <h3 >
            Email confirmado, clique
            <a asp-controller="account" asp-action="Login">aqui</a> para fazer seu login
        </h3>
    </div>      
</body>
</html>
