
@{
    Layout = "_Dados";
}

<title>Dados do Usuário - CICTED</title>

<form class="form-cadastro !important" method="post">
    <div class="form-group">
        <h4>Dados Pessoais:</h4>
        <div class="margin-top-10 row">
            <div class="float-left" >
                <label>Nome:</label>
                <input type="text" required />
            </div>
            <div class="float-right" >
                <label>Sobrenome:</label>
                <input type="text" required />
            </div>
        </div>
    </div>

    <div class="margin-top-10" align="center">
        <button type="button" class="btn btn-primary" id="button-cancelar">Cancelar</button>
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </div>

</form>