@model CICTED.Domain.ViewModels.Account.ForgotPasswordConfirmationViewModel

<form asp-controller="Account" asp-action="ForgotPasswordConfirmation" method="post">
    <input hidden asp-for="Email" />
    <input hidden asp-for="Token" />

    <label>Nova senha</label>
    <input type="password" asp-for="NewPassword" />

    <label>Confirmar nova senha</label>
    <input type="password" asp-for="ConfirmNewPassword" />

    <button type="submit" class="btn btn-primary"></button>
</form>