@*
*@
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="float-center margin-top-100 logo-login">
        
    </div>
    <form class="form-login float-center margin-top-40">
        <div class="row margin-top-10">
            <label>Digite seu email:</label>
            <input class="form-control"/>
        </div>
        <div class="row margin-top-10">
            <label>Digite sua senha:</label>
            <input class="form-control"/>
        </div>
        <div class="row margin-top-10 ">
            <button type="submit" class="btn btn-primary float-center" style="width: 100%">Entrar</button>
        </div>
    </form>
</body>
</html>
