@*
*@
@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <form class="form-login float-center margin-top-30">
        <div class="row margin-top-10">
            <label>Email:</label>
            <input class="form-control"/>
        </div>
        <div class="row margin-top-10">
            <label>Senha:</label>
            <input class="form-control"/>
        </div>
        <div class="row margin-top-10">
            <button>Entrar</button>
        </div>
    </form>
</body>
</html>
