@*
*@
@{
    
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <form class="form-login">
        <div>
            <label>Email:</label>
            <input />
        </div>
        <div>
            <label>Senha:</label>
            <input />
        </div>
        <div>
            <button>Entrar</button>
        </div>
    </form>
</body>
</html>
