@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>

</head>

<body>
    <div>
        <h4>Senhor Professor</h4>       
        <p>Com muita alegria informamos que Iniciamos as atividades do CICTED 2017.</p>
        <p>Para o bom andamento de todas as etapas e  nosso relacionamento, é muito importante que o senhor mantenha este email informado no cadastro do CICTED.
            Periodicamente estará recebendo notícias, material de avaliação e muito mais.</p>
        <p>Neste primeiro momento, confirme por favor, o recebimento deste enviando um email para cicted@unitau.br .</p>
        <p>Muito obrigado por sua participação e bom trabalho</p>
        <h4>Coordenação CICTED.</h4>
    </div>
</body>

