@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Autor";
}
<body>
    <div>
        <form class="form-cadastro">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#Passo1" aria-controls="Passo1" role="tab" data-toggle="tab">Passo 1</a>oie</li>
                <li role="presentation"><a href="#Passo2" aria-controls="Passo2" role="tab" data-toggle="tab">Passo 2</a>oiiii</li>
                <li role="presentation"><a href="#Passo3" aria-controls="Passo3" data-toggle="tab">Passo 3</a></li>
            </ul>
        </form>
    </div>
</body>

<script type="text/javascript">

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        e.target // newly activated tab
        e.relatedTarget // previous active tab
    })


</script>