

@{
    Layout = "_Autor";
}

<title>Home - CICTED</title>

<div class="autor-home-content">
    <h3 style="font-weight: bold">Página Inicial - Autor</h3>
    <hr />
    <h4>Bem vindo(a) @ViewBag.Nome!</h4>
    <h5>Neste espaço você terá acesso a todas as informações do evento V CICTED: Ciência Alimentando o Brasil. Aqui
    você poderá consultar os eventos, cadastrar e visualizar todos os seus trabalhos e atividades sem complicações a qualquer hora.</h5>

    <h5>Para cadastrar novos trabalhos, selecione o evento desejado.</h5>
    <a class="link float-left"><h3>ENIC</h3></a>
    <a class="link float-left margin-left-30"><h3>ENIC JR.</h3></a>
    <a class="link float-left margin-left-30"><h3>ENIC TEEN</h3></a>
    <a class="link float-left margin-left-30"><h3>ENIC KIDS</h3></a>
    <a class="link float-left margin-left-30"><h3>MIPG</h3></a>
    <a class="link float-left margin-left-30"><h3>SEDUNI</h3></a>
    <a class="link float-left margin-left-30"><h3>SEMEX</h3></a>
    <a class="link float-left margin-left-30"><h3>PP&I</h3></a>
    <br /><br /><br />
    <h5>As incrições e submissões dos trabalhos deverão ser realizadas até o dia ...</h5>
    <h5> A Universidade de Taubaté (UNITAU) agradece sua participação na ... edição do Congresso Internacional de Ciência, Tecnologia e Desenvolvimento (CICTED)</h5>
</div>