@model CICTED.Domain.ViewModels.Autor.HomeViewModel
@{
    Layout = "_Menu";
}

<title>Home - CICTED</title>

<div class="autor-home-content">
    <h3 style="font-weight: bold">Página Inicial - Autor</h3>
    <hr />
    <h4>Bem vindo(a) @ViewBag.Nome!</h4>
    <h5>
        Neste espaço você terá acesso a todas as informações do evento V CICTED: Ciência Alimentando o Brasil. Aqui
        você poderá consultar os eventos, cadastrar e visualizar todos os seus trabalhos e atividades sem complicações a qualquer hora.
    </h5>

    <h5>Para cadastrar novos trabalhos, selecione o evento desejado.</h5>

    <a class="link float-left" id="evento" data-toggle="modal" data-target="#myModal" value="1"><h3>ENIC</h3></a>
    <a class="link float-left margin-left-30" id="evento" data-toggle="modal" data-target="#myModal" value="2"><h3>ENIC JR.</h3></a>
    <a class="link float-left margin-left-30" id="evento" data-toggle="modal" data-target="#myModal" value="3"><h3>ENIC TEEN</h3></a>
    <a class="link float-left margin-left-30" id="evento" data-toggle="modal" data-target="#myModal" value="4"><h3>ENIC KIDS</h3></a>
    <a class="link float-left margin-left-30" id="evento" data-toggle="modal" data-target="#myModal" value="5"><h3>MIPG</h3></a>
    <a class="link float-left margin-left-30" id="evento" data-toggle="modal" data-target="#myModal" value="6"><h3>SEDUNI</h3></a>
    <a class="link float-left margin-left-30" id="evento" data-toggle="modal" data-target="#myModal" value="7"><h3>SEMEX</h3></a>
    <a class="link float-left margin-left-30" id="evento" data-toggle="modal" data-target="#myModal" value="8"><h3>PP&I</h3></a>

    <br /><br /><br />
    <h5>As incrições e submissões dos trabalhos deverão ser realizadas até o dia ...</h5>
    <h5> A Universidade de Taubaté (UNITAU) agradece sua participação na ... edição do Congresso Internacional de Ciência, Tecnologia e Desenvolvimento (CICTED)</h5>
</div>

<div id="myModal" class="modal fade" role="dialog">  

</div>

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Header</h4>
            </div>

            <div class="modal-body">
                <p>Descricao</p>

                <br /><br />

                <p><b>Objetivo: </b> .</p>

                <br /><br />

                <p><b>Público-Alvo: </b> .</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cadastrar Trabalho</button>
            </div>
        </div>

   



@section Script{
<script type="text/javascript">
    $(".evento").on("click", function () {
        var button = $(this);
        var id = button.attr("data-id");

        $.ajax({
            url: '/autor/evento',
            type: 'get',
            data: {
                id : id            
            },
            
            sucess: function () {                

            },
            error: function (x, y, message) {
                alert("Evento nao encontrado ")

            },
        });

    });

</script>
}
=======
<script type="text/javascript">
    $('#myModal').evento($('#evento'));
</script>
>>>>>>> 2933273551b9cda7f89c3dfa970a6fa51fa19b5b
