@model CICTED.Domain.ViewModels.Administrador.GerenciarOrganizador
@{
    Layout = "_Menu";
}

<title>Cadastrar Organizador - CICTED</title>

<form class="form-cadastro " asp-contoller="administrador" asp-action="cadastrarOrganizador" method="post">
    <div style="text-align:center">
        <h2><span class="fa fa-user"></span><b> Cadastrar Organizador</b></h2>
    </div>

    <div class="form-group">

        <div class="margin-top-10 row">
            <div class="float-left" style="width:40%">
                <label>Nome: </label>
                <input type="text" class="input-consulta-trab-adm" style="width:500px" />
            </div>

            <div class="float-right" style="width:50%">
                <label>Sobrenome: </label>
                <input type="text" class="input-consulta-trab-adm" style="width:500px" />
            </div>
        </div>

        <div class="margin-top-10 row">
            <div class="float-left" style="width:40%">
                <label>Email: </label>
                <input type="text" class="input-consulta-trab-adm" style="width:500px" />
            </div>

            <div class="float-right" style="width:50%">
                <label>Telefone: </label>
                <input type="text" class="input-consulta-trab-adm" style="width:500px" />
            </div>
        </div>

        <div class="float-center" style="margin-top:15px">
            <label>É avaliador?</label>
            <div class="onoffswitch margin-right-10">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="checkAvaliador" asp-for="Avaliador">
                <label class="onoffswitch-label">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            <div id="avaliador">
                <div class="margin-top-10 row">
                    <div class="float-left" style="width:40%">
                        <label>Evento:</label>
                        <select class="input-consulta-trab-adm" style="width:500px !important">
                            <option value="-1">Selecione o evento</option>
                        </select>
                    </div>
                    <div class="float-right" style="width:50%">
                        <label>Subarea:</label>
                        <select class="input-consulta-trab-adm" style="width:500px !important">
                            <option value="-1">Selecione a subarea</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <button class="btn btn-primary margin-top-10" style="margin-left:40%; width:100px"> Cadastrar</button>
    </div>
</form>

<script type="text/javascript">
    $('#dropEstado').states($('#dropCidade'));

    $("#checkAvaliador").on("change", function () {
        if ($(this).is(":checked")) {
            $("#avaliador").css("display", "block");
        } else {
            $("#avaliador").css("display", "none");

        }
    });
</script>