@model List<CICTED.Domain.ViewModels.Administrador.GerenciarOrganizador>
@{
    Layout = "_Menu";
}
<title>Gerenciar Organizador - CICTED</title>

<div class="form-consultTrabAdm">
    <h3 style="font-weight: bold"><span class="fa fa-pencil-square-o"></span> Gerenciar Organizador</h3>

    <div class="form-group">
        Pesquisar: <input class="input-consulta-trab-adm" id="autor-nome" style="width:350px !important" placeholder="Digite o nome ou email" autocomplete="off" />
        <div style="height:0px; display:none" class="busca float-left">
            <ul id="lista-nomes"></ul>
        </div>
        <button class="btn btn-primary margin-left-10"><span class="fa fa-search"></span></button>
        <button class="btn btn-primary float-right" style="width:150px"><span class="fa fa-user-plus"></span>  Novo Organizador</button>
    </div>

    <hr />

    <table class="tabela-trabalho" style="margin:0 0 auto" border="1">
        <tr>
            <th style="width: 50px !important" class="form-group"></th>
            <th style="width: 90px !important" class="form-group">
                Avaliador
            </th>
            <th>
                Nome
            </th>
            <th>
                Email
            </th>
            <th style="width: 80px !important" class="form-group"> Status</th>
        </tr>

        @foreach (var organizadores in Model)
        {
            <tr>
                <td><a class="fa fa-search link trabalho" data-toggle="modal" data-target="#myModal" data-id="@organizadores.Id"></a></td>

                @if (organizadores.Avaliador == true)
                {
                    <td>Sim</td>

                }
                else
                {
                    <td></td>
                }
                <td>@organizadores.Nome @organizadores.Sobrenome</td>
                <td>@organizadores.Email</td>
                @if (organizadores.IsFirstAcess == true)
                {
                    <td><span class="fa fa-times-circle margin-left-10 color-reprovado"></span></td>
                }
                else
                {
                    <td><span class="fa fa-check-circle margin-left-10 color-aprovado"></span></td>
                }
            </tr>
        }
    </table>

    <hr />

    <h5>
        <b>Legenda:</b>
        <span class="fa fa-check-circle margin-left-10 color-aprovado"></span> Já acessou
        <span class="fa fa-times-circle margin-left-10 color-reprovado"></span> Nunca acessou
    </h5>


    <div id="myModal" class="modal fade" role="dialog">
        <div style="width:70%" class="modal-dialog">
            <div style="padding:10px" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 style="font-weight:bold"><span class="fa fa-user"></span> Informações do Organizador</h3>
                    <hr />
                    <table>
                        <tr><td><b>Nome: </b></td><td></td></tr>
                        <tr><td><b>Email: </b></td><td></td></tr>
                        <tr><td><b>Telefone: </b></td><td></td></tr>
                        <tr><td><b>Celular: </b></td><td></td></tr>
                        <tr><td><b>Avaliador: </b></td><td></td></tr>
                        <tr><td><b>CPF: </b></td><td></td></tr>
                        <tr><td><b>Data de Nascimeto: </b></td><td></td></tr>
                        <tr><td><b>Gênero: </b></td><td></td></tr>
                        <tr><td><b>Endereço: </b></td><td></td></tr>
                        <tr><td><b>Instituição: </b></td><td></td></tr>
                    </table>
                    <hr />
                </div>
            </div>
        </div>

    </div>
