

@{
    Layout = "_Administrador";
}

<title>Home - CICTED</title>

<div class="autor-home-content">
    <h3>Bem vindo(a) @ViewBag.Nome!</h3>
    <p>Neste espaço você poderá gerenciar os usuários do sistema e consultar todos os trabalhos dos participantes do evento, sem complicações a qualquer hora.</p>
</div>