

@{
    Layout = "_Administrador";
}

<title>Home - CICTED</title>

<div class="autor-home-content">
    <h3>Bem vindo(a)!</h3>
    <h5>Neste espaço você poderá gerenciar os usuários do sistema e consultar todos os trabalhos dos participantes do evento, sem complicações a qualquer hora.</h5>
</div>